<br> <br> 

<div class="container">
    aide les équipes à avancer dans leur travail.
    Collaborez, gérez des projets et atteignez de nouveaux sommets en matière de productivité. Que votre équipe soit sur site ou en télétravail, votre méthode de travail est unique. Accomplissez toutes vos tâches grâce à Trello
 
 </div>
 <br> <br>
<div class="container-fluid">
    Plus qu'un travail. C'est une méthode de collaboration.
Lancez-vous avec un tableau, des listes et des cartes Trello. Personnalisez les fonctionnalités et complétez-les à mesure que le travail d'équipe prend de l'ampleur. Gérez des projets, organisez des tâches et développez l'esprit d'équipe, le tout en un seul et même endroit.
  </div>
  <br>
  <div class="card" style="width: 30rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">est l'outil visuel qui permet à votre équipe de gérer n'importe quel type de projet ou de flux de travail, ou encore de suivre les tâches</p>
    </div>
  </div>
  <br> 
  <h1>n'hésitez pas de prendre un ticket</h1>
 